* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: linear-gradient(#24252A, black);
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

nav li a:hover {
    color: #0088a9;
}

button {
    background-color: #0088a9;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #0088a9cc;
}

.content {
    position: relative;
}

.content img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: filter 0.5s ease;
    
}

.blurred {
    filter: blur(8px);
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;

    width:500px;
    height: 450px;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 20px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: calc(100% - 20px);
    background-color: #0088a9;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #0088a9cc;
}

.register {
    text-align: center;
    margin-top: 12px;
}

.register p {
    font-size: 18px;
}

.register-link {
    color: #0088a9;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 500px;
    height: 450px;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-form input {
    width: calc(100% - 20px);
    padding: 20px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form button {
    width: calc(100% - 20px);
    background-color: #00a908;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.register-form button:hover {
    background-color: #0088a9cc;
}

.register {
    text-align: center;
    margin-top: 12px;
}

.register p {
    font-size: 18px;
}

.register-link {
    color: #0088a9;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
